<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update user</title>
</head>
<body>

<form th:method="post" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">

  <label for="username">Enter username</label>
  <input type="text" th:field="*{username}" id="username"/>
  <label for="password">Enter password</label>
  <input type="password" th:field="*{password}" id="password"/>
  <label for="email">Enter email</label>
  <input type="email" th:field="*{email}" id="email"/>
  <label for="role">Enter role</label>
  <input type="role" th:field="*{roles}" id="role"/>
  <br/>
<!--  <label for="my_roles">Enter role:</label>-->
<!--  <select multiple name="my_roles" id="my_roles">-->
<!--    <option>ROLE_USER</option>-->
<!--    <option>ROLE_ADMIN</option>-->
<!--  </select>-->
  <br/>
  <input type="submit" value="Update"/>
</form>
<br>
<a th:href="@{/admin}">Back</a>
<br>
<br>
<a href="/logout">Logout</a>
</body>
</html>